<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Pendientes</title>
    <h1>Pendings List</h1>

    <table>
        <tr>
            <th>Items</th>
            <th></th>
        </tr>
        {% for tarea in tareas %}
        <tr>
            <td>{{tarea.titulo}}</td>
            <td><a href="{% url 'tarea' tarea.id %}">Look Up</a></td>
        </tr>

        {% empty %}
        <h3>No items on this list</h3>

        {% endfor %}

    </table>
</head>
<body>

</body>
</html>