<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Pendientes</title>
    {% if request.user.is_authenticated %}
        <p>Hello: {{request.user}}</p>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>

    <h1>Pendings List</h1>

    <table>
        <tr>
            <th>Items</th>
            <th></th>
            <th></th>
        </tr>
        {% for tarea in tareas %}
        <tr>
            <td>{{tarea.titulo}}</td>
            <td><a href="{% url 'tarea' tarea.id %}">Look Up</a></td>
            <td><a href="{% url 'editar-tarea' tarea.id %}">Edit</a></td>
            <td><a href="{% url 'eliminar-tarea' tarea.id %}">Delete</a></td>
        </tr>

        {% empty %}
        <h3>No items on this list</h3>

        {% endfor %}

    </table>

    <a href="{% url 'crear-tarea' %}">Create New Task</a>
</head>
<body>

</body>
</html>